<h1>
  Downloading ‘<%= @translation.book.title %>’
</h1>

<% if @translation.original %>
  <p>
    <strong>Original text</strong>
  </p>
<% end %>

<% unless @translation.note.empty? %>
  <p>
    <strong>Note:</strong>
    <%= @translation.note %>
  </p>
<% end %>

<% unless @translation.date_of_publication %>
  <p>
    <strong>Date of publication:</strong>
    <%= @translation.date_of_publication %>
  </p>
<% end %>

<p>
  <strong>Language:</strong>
  <%= Languages::LANGUAGES[@translation.language][0] %>
</p>

<%= mobile_link_to("/books/#{@translation.id}/#{@translation.filename}", 'Download file', @translation.filesize, true, 'download') %>

<% content_for(:back) do %>
  <% if @translation.book.thumbnail_url.blank? %>
    <%= mobile_link_to(book_url(@translation.book), @translation.book.title, 'Back to book', true, 'user') %>
  <% else %>
    <%= mobile_link_to(book_url(@translation.book), @translation.book.title, 'Back to book', true, @translation.book.thumbnail_url, false) %>
  <% end %>
<% end %>