<h1>
  Downloading ‘<%= @translation.book.title %>’
  <%= edit_translation_links(@translation) %>
</h1>

<% if @translation.original %>
  <p>
    <i>Original text</i>
  </p>
<% end %>

<% unless @translation.note.empty? %>
  <p>
    <strong>Note:</strong>
    <%= h(@translation.note) %>
  </p>
<% end %>

<% unless @translation.date_of_publication %>
  <p>
    <strong>Date of publication:</strong>
    <%= h(@translation.date_of_publication) %>
  </p>
<% end %>

<p>
  <strong>Language:</strong>
  <%= Languages::LANGUAGES[@translation.language][0] %>
</p>

<p>
  <strong>Source:</strong>
  <%= link_to h(@translation.source_url), @translation.source_url, :target => '_blank' %>
</p>

<p>
  <strong>Size:</strong>
  <%= h(@translation.filesize) %>
</p>

<p>
  <strong>MD5 hash:</strong>
  <%= h(@translation.md5) %>
</p>

<div class="download">
  <p>
    <%= link_to "Download ‘#{h(@translation.filename)}’", "/books/#{@translation.id}/#{@translation.filename}",
                :class => 'menu_reader' %>
  </p>
</div>

<p>
  <%= link_to "Back to #{h(@translation.book.title)}", book_url(@translation.book) %>
</p>
