<% title "Editing Translation" %>
<h1>Edit Author</h1>

<%= render :partial => 'form' %>

<% content_tag :fieldset do %>
  <%= content_tag :legend, "Translations" %>
  <% @translations = @book.translations %>
  <%= render :partial => 'books/index' %>
  <p>
    <b><%= link_to "New book", :controller => 'books', :action => 'new', :author => @author %></b>
  </p>
<% end %>

<p><%= link_to "Back to Authors", authors_path %></p>