<% unless @author_aliases.empty? %>
  <% for aliaz in @author_aliases %>
    <% if aliaz.author.ready or user_admin %>
      <p<%= ' class="strike"' unless aliaz.author.ready %>>
      <% if @author_alias_thumbnails %>
        <% image_url = (aliaz.author.thumbnail_url.blank? ? 'misc/no-image.gif' : aliaz.author.thumbnail_url) %>
        <%= image_tag(image_url, :class =>  'thumblist') %>
        <%= link_to aliaz.name_abbreviated(:name_reversed), author_url(aliaz.author), :class => 'thumblist' %>
      <% else %>
        <%= link_to aliaz.name_abbreviated(:name_reversed), author_url(aliaz.author) %>
      <% end %>
      <%= " (<i>#{h(aliaz.author.name_cached)}</i>)".html_safe unless aliaz.id == aliaz.author.alias_name_id %>
      <% if user_admin %>
        <%= link_to image_tag('misc/edit.png'), edit_author_path(aliaz.author) %>
        <%= link_to image_tag('misc/delete.png'), aliaz.author, :confirm => 'Are you sure you want to delete this author and their books and translations?', :method => :delete %>
      <% end %>
      </p>
      <div></div>
    <% end %>
  <% end %>
<% else %>
  <p>
    <i><%= @no_author_aliases_message %></i>
  </p>
<% end %>