<% title 'Edit Author' %>
<h1>Edit Author
  <%= link_to image_tag('misc/show.png'), @author %>
</h1>

<%= render :partial => 'form' %>

<% content_tag :fieldset do %>
  <%= content_tag :legend, 'Aliases' %>
  <%= render :partial => 'author_aliases/index' %>
  <%= new_author_alias_link(@author) %>
<% end %>

<% content_tag :fieldset do %>
  <%= content_tag :legend, 'Books' %>
  <%= render :partial => 'books/index' %>
  <%= new_book_link(@author) %>
<% end %>

<p>
  <%= link_to 'Show author', @author %> |
  <%= link_to 'Back to Authors', authors_path %>
</p>