<% title @author.name %>

<h1>
  <%=h @author.name %>
</h1>

<%= image_tag(@author.thumbnail_url, :class =>  'thumbnail') unless @author.thumbnail_url.blank? %>

<p>
  <%= @author.description %>
</p>

<% unless @author.date_and_place_of_birth.empty? %>
  <p>
    <strong>Born:</strong>
    <%= @author.date_and_place_of_birth %>
  </p>
<% end %>

<% unless @author.date_and_place_of_death.empty? %>
  <p>
    <strong>Died:</strong>
    <%= @author.date_and_place_of_death %>
  </p>
<% end %>

<% unless @author.country_of_nationality.empty? %>
  <p>
    <strong>Country of nationality:</strong>
    <%= @author.country_of_nationality %>
  </p>
<% end %>

<% if @author.author_aliases.size > 1 %>
  <p>
  <strong>Also known as: </strong>
  <% aliases = [] %>
  <% for aliaz in @author.author_aliases %>
    <% aliases << aliaz.name unless @author.alias_name == aliaz %>
  <% end %>
  <%= aliases.join(", ") %>
  </p>
<% end %>

<h1>Books</h1>
<% @books = @author.books %>
<% @book_thumbnails = true %>
<% @no_books_message = 'No books have been added, so far.' %>
<%= render :partial => 'books/index' %>
