<% title @author.name %>

<% content_for(:head) do %>
  <% @freebase_item = @author %>
  <%= render :partial => 'misc/freebase_ajax' unless @mobile %>
<% end %>

<h1>
  <%=h @author.name %>
  <% if user_admin %>
    <%= link_to image_tag("misc/edit.png"), edit_author_path(@author), :class => 'small' %>
    <%= link_to image_tag("misc/delete.png"), @author, :confirm => 'Are you sure?', :method => :delete, :class => 'small' %>
  <% end %>
</h1>
<p>
  <%= image_tag(@author.thumbnail_url, :class =>  'thumbnail') unless @author.thumbnail_url.blank? %>
  <% if @mobile %>
    <%= @author.description %>  
  <% else %>
    <span id="freebase_description"><span class="loading">Loading... <%= image_tag '_/loading.gif' %></span></span>
  <% end %>
</p>
<% if @mobile %>
  <p><strong>Born: </strong><%= @author.date_and_place_of_birth %></p>
  <p><strong>Died: </strong><%= @author.date_and_place_of_death %></p>
  <p><strong>Country of nationality: </strong><%= @author.country_of_nationality %></p>
<% else %>
  <div id="freebase_bio"><div class="loading">Loading... <%= image_tag '_/loading.gif' %></div></div>
<% end %>
<% if @author.aliases.size > 1 %>
  <p>
  <strong>Also known as: </strong>
  <% aliases = [] %>
  <% for aliaz in @author.aliases %>
    <% aliases << aliaz.name unless @author.alias_name == aliaz %>
  <% end %>
  <%= aliases.join(", ") %>
  </p>
<% end %>
<div></div>
<h1>Books</h1>
<% unless @author.books.empty? %>
  <% for book in @author.books %>
    <p>
      <% if book.thumbnail_url.blank? %>
        <%= link_to book.title, book_url(book), :class => 'thumblist_no_img' %>
      <% else %>
        <%= image_tag(book.thumbnail_url, :class =>  'thumblist') %>
        <%= link_to book.title, book_url(book), :class => 'thumblist' %>
      <% end %>
      <%= "(" + book.date_of_first_publication + ")" unless book.date_of_first_publication.blank? %>
    <br></p>
  <% end %>
<% else %>
  <p>
    <i>No books have been added so far.</i>
  </p>
<% end %>

<% unless @mobile %>
  <div id="freebase_quotes"><div class="loading">Loading... <%= image_tag '_/loading.gif' %></div></div>
  <div id="freebase_links"><div class="loading">Loading... <%= image_tag '_/loading.gif' %></div></div>
<% end %>

<p>
  <br>
  <%= link_to "Back to Authors", authors_url %>
</p>