<table width="100%">
  <tr valign="top">
    <td width="60%" align="left">
      <h1>Read e-books on your mobile?</h1>
      <p>It seems you've come to the right place!</p>

      <p>
        Here you'll find <i>free</i> and <i>high-quality</i> e-books, that have been <i>specially optimized for your
        phone</i>. All books are <i>neatly split to chapters</i>, and <i>compiled as EPUB files</i>, so that they'll
        <i>load fast</i> and <i>run smoothly</i> on your device. Many children's books, <i>have images</i>, too, and they
        have been resized and saved in an optimal format so that your book reader app would be able to show them without an
        issue. What's more, the site has been made with the idea of being as mobile-friendly as possible. Just put an 'm'
        as the first subdomain, like so: <a href="http://m.albite.vlexofree.com/">http://m.albite.vlexofree.com/</a>. So,
        why don't you get on with downloading at once? Just search for a book or an author, using the search field at the top.
      </p>

      <p>
        What if you've got a <i>Java-Mobile</i> phone, but you're out-of-luck with book readers that support <i>EPUB</i>
        files? Not necessarily! Have a look at <%= link_to 'Albite READER', reader_url %>. See the video a few pixels
        down this text? If you like it, well, go ahead and <%= link_to 'download', reader_url %> it! It's free. Oh, and
        by the way, it does support dictionary look-up, yes. But then, why don't make a dictionary yourself? You see,
        <%= link_to 'Albite READER', reader_url %> is also open-source.
      </p>

      <div class="youtube">
        <object width="200" height="175">
          <param name="movie" value="http://www.youtube.com/v/3X9Tv4GhZpM?fs=1&amp;hl=en_GB&amp;rel=0" />
          <param name="allowFullScreen" value="true" />
          <param name="allowscriptaccess" value="always" />
          <param name="wmode" value="transparent" />
          <embed width="200" height="175"
                 src="http://www.youtube.com/v/3X9Tv4GhZpM?fs=1&amp;hl=en_GB&amp;rel=0"
                 type="application/x-shockwave-flash"
                 allowscriptaccess="always"
                 allowfullscreen="true"
                 wmode="transparent"
                 />
        </object>
      </div>

      <p>
        Got you interested? Wonder who and why made all this? Or more importantly:
        <i style='letter-spacing: 0.3em;'>how</i>? Visit the <%= link_to 'About', about_url %> section to see for
        yourself. You'll also find there some general advice that may be of some help.
      </p>

      <p>
        Got any questions regarding the site or the reader? Feel something is unclear? Go and see the
        <%= link_to 'F.A.Q.', faq_url %>, perhaps you'll find your answer there, if not you could write a message,
        using the feedback button on the left side of the screen.
      </p>

      <p>
        It was a five-month effort to make it work. Perhaps you're looking for a way to show your gratitude?
        If you wish to say thanks, post a comment and hit the <i>Like</i> button on the <%= link_to 'thanks', thanks_url %> page!
      </p>
    </td>
    <td width="10%"></td>
    <td width="30%" align="center">
      <h1>Have read these?</h1>
      <% for book in @books %>
        <div class="home">
          <% image_url = (book.thumbnail_url.blank? ? 'misc/no-image.gif' : h(book.thumbnail_url)) %>
          <%= link_to image_tag(image_url, :class => 'thumblisthome'), book %><br />
          <%= link_to h(book.title), book, :class => 'thumblist' %>
          <span class="list">
            <br />by <i><%= link_to h(book.author.name_cached), book.author %></i><br />
          </span>
        </div>
      <% end %>
      <%= link_to 'See more books...', latest_url, :class => 'italic' %>
    </td>
  </tr>
</table>