<%= h1 'Albite BOOKS' %>

<%= h2 'Search' %>
<%= mobile_link_to(books_url, 'Books', 'Search for books', true, 'book') %>
<%= mobile_link_to(authors_url, 'Authors', 'Search for authors', true, 'user') %>

<%= h2 'Browse' %>
<%= mobile_link_to(genres_url,    'Genres',   'Browse genres', true, 'tag') %>
<%= mobile_link_to(subjects_url,  'Subjects', 'Browse subjects', true, 'tag') %>

<%= h2 'Download' %>
<%= mobile_link_to(reader_url, 'Albite READER', 'Download an ePub reader for <i>Windows Phone</i>', true, 'download') %>
<%= mobile_link_to(reader_j2me_url, 'Albite READER for J2ME', 'Download an ePub reader for <i>Java Mobile</i>', true, 'download') %>

<%= h2 'Free e-books?' %>
<p>
  Yep. Go into the books section, type the name of the book you're looking for and you're ready to go!
</p>

<%= h2 'ePub Reader for your phone?' %>
<p>
  Depending on the platform on your phone, select one from the <i>download</i> buttons.
</p>
