<table width="100%">
  <tr valign="top">
    <td width="60%" align="left">
      <h1>Read free e-books on your mobile?</h1>
      <p>
        Here you'll find <i>free</i> e-books, that have been <i>specially optimized for your
        phone</i>.
      </p>
      <p>
        If your phone runs <i>Windows Phone 8.0</i> and up, you could you may have a look at <%= link_to 'Albite READER', reader_url %>,
        or download the app directly from the
        <a href="https://www.microsoft.com/store/productid/9NBLGGH4XZ08" target="_blank">Windows Phone Store</a>.
        It is open-source and free to download.
      </p>

      <%= youtube 'http://www.youtube.com/v/tZoOaxL9MLo?fs=1&amp;hl=en_GB&amp;rel=0', 380, 214 %>

      <p>
        If you have a <i>Java-Mobile powered</i> device you may have a look at the older
        version of the app, <%= link_to 'Albite READER for Java Mobile', reader_j2me_url %>.
      </p>

      <p>
        Wonder who and why made all this? Visit the <%= link_to 'About', about_url %> section then.
      </p>

      <p>
        Perhaps you're looking for a way to show your gratitude?
        If you wish to say thanks, post a comment and hit the <i>Like</i> button on the
        <%= link_to 'thanks', thanks_url %> page!
      </p>
    </td>
    <% if @books %>
      <td width="10%"></td>
      <td width="30%" align="center">
        <h1>Have read these?</h1>
        <% for book in @books %>
          <div class="home">
            <% image_url = ((book.thumbnail_url.blank? or book.freebase_uid.blank?) ? 'misc/no-book.gif' : h(freebase_thumb_url(book.freebase_uid, true))) %>
            <%= link_to image_tag(image_url, :class => 'thumblisthome'), book %><br />
            <%= link_to h(book.title), book, :class => 'thumblist' %>
            <span class="list">
              <br />by <i><%= link_to h(book.author.name_cached), book.author %></i><br />
            </span>
          </div>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>