<table width="100%">
  <tr valign="top">
    <td width="60%" align="left">
      <h1>Read free e-books on your mobile?</h1>
      <p>It seems you've come to the right place!</p>

      <p>
        Here you'll find <i>free</i> e-books, that have been <i>specially optimized for your
        phone</i>. All books are <i>split to chapters</i>, and <i>compiled as EPUB files</i>, so that they'll
        <i>load fast</i> and <i>run smoothly</i> on your device. Many children's books, <i>have images</i>, too, and
        they have been re-sized so that they'd take very little space.
      </p>
      <p>
        Search for and download books from you phone's browser? Just put an 'm'
        as the first sub-domain, like so: <a href="http://m.albite.vlexofree.com/">http://m.albite.vlexofree.com/</a>.
      </p>

      <p>
        Next step is <i>reading the books</i> or, in other words, getting a book reader for your phone. If you have a
        <i>Java-Mobile powered</i> device you may have a look at <%= link_to 'Albite READER', reader_url %>, see the
        video a few pixels down this text? If you like it, well, go ahead and <%= link_to 'download', reader_url %> it!
        It's free. Oh, and by the way, it does support dictionary look-up, yes. But then, why don't make a
        dictionary yourself? You see, <%= link_to 'Albite READER', reader_url %> is also open-source.
      </p>
      
      <%= youtube 'http://www.youtube.com/v/yk0naflL6l4?fs=1&amp;hl=en_GB&amp;rel=0', 380, 310 %>

      <p>
        Got you interested? Wonder who and why made all this? Visit the <%= link_to 'About', about_url %> section then.
      </p>

      <p>
        It was a six-month effort to make it work. Perhaps you're looking for a way to show your gratitude?
        If you wish to say thanks, post a comment and hit the <i>Like</i> button on the
        <%= link_to 'thanks', thanks_url %> page!
      </p>
    </td>
    <% if @books %>
      <td width="10%"></td>
      <td width="30%" align="center">
        <h1>Have read these?</h1>
        <% for book in @books %>
          <div class="home">
            <% image_url = (book.thumbnail_url.blank? ? 'misc/no-book.gif' : h(book.thumbnail_url)) %>
            <%= link_to image_tag(image_url, :class => 'thumblisthome'), book %><br />
            <%= link_to h(book.title), book, :class => 'thumblist' %>
            <span class="list">
              <br />by <i><%= link_to h(book.author.name_cached), book.author %></i><br />
            </span>
          </div>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>