<%= title 'Get the Reader' %>
<%= h1 'Albite READER' %>
<p>
  An e-book reader for the <i>Java Mobile</i> platform developed by <i>Svetlin Ankov</i>. It's free for
  it's released under the <i>Apache 2.0 License</i>.
</p>

<%= h2 'Get it!' %>
<%= mobile_link_to("reader/AlbiteReaderHD-#{@version}.jar", 'HD version', '908 KB', true, 'download', true) %>
<%= mobile_link_to("reader/AlbiteReader-#{@version}.jar", '<i>Normal version</i>', '717 KB', true, 'download', true) %>
<%= mobile_link_to("reader/AlbiteReaderNoTouch-#{@version}.jar", 'Normal, no touch', '717 KB', true, 'download', true) %>
<%= mobile_link_to("reader/AlbiteReaderLight-#{@version}.jar", 'Light version', '325 KB', true, 'download', true) %>
<%= mobile_link_to("reader/AlbiteReaderTiny-#{@version}.jar", 'Tiny version', '186 KB', true, 'download', true) %>
