<h1>Books found for ‘<%= h(@query) %>’</h1>
<%= render :partial => 'books/index' %>
<% if @books and @books.total_pages > 1 %>
  <p>
    <i><%= link_to("See #{@books.total_entries - @books.per_page} more book(s)", search_books_url(h(@query), :page => 2)) %></i>
  </p>
<% end %>

<h1>Authors found for ‘<%= h(@query) %>’</h1>
<%= render :partial => 'authors/index' %>
<% if @authors and @authors.total_pages > 1 %>
  <p>
    <i><%= link_to("See #{@authors.total_entries - @authors.per_page} more author(s)", search_authors_url(h(@query), :page => 2)) %></i>
  </p>
<% end %>
