<% title 'The books' %>
<% unless APP_CONFIG['hide_book_index'] %>
  <h1 class='letter'>Books
    <span class='letter'>
      <%= @letter_name %>
    </span>
  <br /><%= render :partial => 'misc/letter' %></h1>
<% else %>
  <h1>Books</h1>
<% end %>

<%= render :partial => 'aliases_index' %>
<%= will_paginate @book_aliases %>
<p>
  <b><%= link_to "New Book", new_book_path if user_admin %></b>
</p>
