<% title @book.title %>

<h1>
  <%=h @book.title %>
</h1>

<%= image_tag(@book.thumbnail_url, :class =>  'thumbnail') unless @book.thumbnail_url.blank? %>
<%= link_to "by #{@book.author.name}", @book.author, :class => 'caption' %>

<p>
  <%= @book.description %>
</p>

<% unless @book.date_of_first_publication.empty? %>
  <p>
    <strong>Date of first publication:</strong>
    <%= @book.date_of_first_publication %>
  </p>
<% end %>

<% unless @book.original_language.empty? %>
  <p>
    <strong>Original language:</strong>
    <%= @book.original_language %>
  </p>
<% end %>

<% unless @book.number_of_pages.empty? %>
  <p>
    <strong>Number of pages:</strong>
    <%= @book.number_of_pages %>
  </p>
<% end %>

<h1>Download book &amp; translations</h1>

<% @translations = @book.translations %>
<%= render :partial => 'translations/index' %>

<% unless @book.genre_list.empty? %>
  <h1>Genres:</h1>
  <% for genre in @book.genre_list %>
    <%= link_to genre, genre_url(genre) %>
  <% end %>
<% end %>

<% unless @book.subject_list.empty? %>
  <h1>Subjects:</h1>
  <% for subject in @book.subject_list %>
    <%= link_to subject, subject_url(subject) %>
  <% end %>
<% end %>

<% content_for(:back) do %>
  <%= link_to "Back to #{@book.author.name}", @book.author %>
<% end %>