<% title h @book.title %>

<h1>
  <%=h @book.title %><br />
  <span class="subtitle">by <%= h @book.author.name %></span>
</h1>
<%= shadow %>

<% unless @book.thumbnail_url.blank? %>
  <div class="thumbnail">
    <%= image_tag(@book.thumbnail_url, :class =>  'thumbnail') %>
  </div>
<% end %>

<p>
  <%= @book.description %>
</p>

<% unless @book.date_of_first_publication.empty? %>
  <%= h2 'Date of first publication' %>
  <p>
    <%= @book.date_of_first_publication %>
  </p>
<% end %>

<% unless @book.original_language.empty? %>
  <%= h2 'Original language' %>
  <p>
    <%= @book.original_language %>
  </p>
<% end %>

<% unless @book.number_of_pages.nil? %>
  <%= h2 'Number of pages' %>
  <p>
    <%= @book.number_of_pages %>
  </p>
<% end %>

<% if @book.book_aliases.size > 1 %>
  <%= h2 'Also known as' %>
  <% for aliaz in @book.book_aliases %>
    <% unless @book.alias_title == aliaz %>
      <p>
        <%= aliaz.title %>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= h2 'Downloads' %>

<% @translations = @book.translations %>
<%= render :partial => 'translations/index' %>

<% unless @book.genre_list.empty? %>
  <%= h2 'Genres' %>
  <% for genre in @book.genre_list %>
    <%= mobile_link_to(genre_url(h(genre)), h(genre), nil, true, 'tag') %>
  <% end %>
<% end %>

<% unless @book.subject_list.empty? %>
  <%= h2 'Subjects' %>
  <% for subject in @book.subject_list %>
    <%= mobile_link_to(subject_url(h(subject)), h(subject), nil, true, 'tag') %>
  <% end %>
<% end %>

<% content_for(:back) do %>
  <%= mobile_link_to_thumbnail_or_icon(author_url(@book.author), @book.author.name_cached, 'Back to author', @book.author.thumbnail_url, 'user') %>
  <%= mobile_link_to(books_url, 'Search', 'Search for another book', nil, 'zoom') %>
<% end %>