<% title @book.title %>

<h1>
  <%= h(@book.title) %><br />
  <span class="subtitle">by <%= h(@book.author.name) %></span>
</h1>
<%= shadow %>

<% unless @book.thumbnail_url.blank? %>
  <div class="thumbnail">
    <%= image_tag(h(@book.thumbnail_url), :class =>  'thumbnail') %>
  </div>
<% end %>

<%= simple_section_mobile(@book.description) %>
<%= simple_section_mobile(@book.date_of_first_publication, 'Date of first publication') %>
<%= simple_section_mobile(@book.original_language, 'Original language') %>
<%= simple_section_mobile(@book.number_of_pages, 'Number of pages') %>
<%= book_aka_mobile(@book) %>

<%= h2 'Downloads' %>
<%= translations_list_mobile(@book.translations) %>

<%= book_tag_list_mobile('Genres', @book.genre_list) {|tag| genre_url(tag)} %>
<%= book_tag_list_mobile('Subjects', @book.subject_list) {|tag| subject_url(tag)} %>

<% content_for(:back) do %>
  <%= mobile_link_to_thumbnail_or_icon(author_url(@book.author), h(@book.author.name_cached), 'Back to author', h(@book.author.thumbnail_url), 'user') %>
  <%= mobile_link_to(books_url, 'Search', 'Search for another book', nil, 'zoom') %>
<% end %>