<% title @book.title %>

<% content_for(:head) do %>
  <% @freebase_item = @book %>
  <%= render :partial => 'misc/freebase_ajax' %>
  <%= javascript_include_tag 'http://api.qrtag.net/js' %>
<% end %>

<h1>
  <%=h @book.title %>
  <% if user_admin %>
    <%= link_to image_tag("misc/edit.png"), edit_book_path(@book) %>
    <%= link_to image_tag("misc/delete.png"), @book, :confirm => 'Are you sure you want to delete this book and all its translations?', :method => :delete %>
  <% end %>
 <span class="subtitle">by <%= link_to @book.author.name, @book.author %></span>
</h1>
<p>
  <%= image_tag(@book.thumbnail_url, :class =>  'thumbnail') unless @book.thumbnail_url.blank? %>
  <span id="freebase_description"><span class="loading">Loading... <%= image_tag '_/loading.gif' %></span></span>
</p>
<div id="freebase_details"><div class="loading">Loading... <%= image_tag '_/loading.gif' %></div></div>

<% unless @book.genre_list.empty? %>
  <% genres = [] %>
  <% for genre in @book.genre_list %>
    <% genre = link_to genre, genre_url(genre) %>
    <% genres << genre %>
  <% end %>
  <p>
    <strong>Genres: </strong><%= genres.join ", " %>
  </p>
<% end %>
<% unless @book.subject_list.empty? %>
  <% subjects = [] %>
  <% for subject in @book.subject_list %>
    <% subject = link_to subject, subject_url(subject) %>
    <% subjects << subject %>
  <% end %>
  <p>
    <strong>Subjects: </strong><%= subjects.join ", " %>
  </p>
<% end %>
<div></div>
<h1>Download book &amp; translations</h1>

<% @translations = @book.translations %>
<%= render :partial => 'translations/index' %>

<div id="freebase_universe"><div class="loading">Loading... <%= image_tag '_/loading.gif' %></div></div>
<div id="freebase_quotes"><div class="loading">Loading... <%= image_tag '_/loading.gif' %></div></div>
<%= render :partial => 'misc/qr_code' %>
<div id="freebase_links"><div class="loading">Loading... <%= image_tag '_/loading.gif' %></div></div>
<h1>Comments</h1>
<% @disqus = 'book_' + @book.id.to_s %>
<%= render :partial => 'misc/disqus_thread' %>
<% content_for(:tail) do %>
  <%= render :partial => 'misc/disqus_tail' %>
<% end %>

<%= "<p><b>#{h(link_to("New book", :controller => 'books', :action => 'new', :author => @book.author_id))}</b></p>".html_safe if user_admin %>
<%= "<p><b>#{h(link_to("New translation", :controller => 'translations', :action => 'new', :book => @book))}</b></p>".html_safe if user_admin %>

<p>
  <%= link_to "Back to #{@book.author.name}", @book.author %>
</p>