<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title)) %><%= APP_CONFIG['title'] %> mobile</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta name="description" content="The Project Gutenberg Book Catalog for mobile devices."/>
    <meta name="keywords" content="free ebooks, free books, book reader, albite reader, albite books, java mobile"/>
    <meta name="language" content="en_GB"/>
    <meta name="classification" content="public"/>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag 'mobile' %>
  </head>
  <body>
    <%= image_tag '_/alb.png', :class => 'logo' %>
    <% if @home %>
    <%= link_to "Get the Reader!", reader_url, :class => 'menu' %>
    <%= link_to "About", subjects_url, :class => 'menu' %>
    <% else %>
      <%= link_to "Back Home", root_url, :class => 'menu' %>
    <% end %>
    <% form_tag '/search', :method => 'get' do %>
      <%= text_field_tag :query %>
      <%= submit_tag 'find books or authors' %>
    <% end %>
    <div class="main">
      <%= yield %>
    </div>
    <% unless @home %>
      <h1>Going back</h1>
      <%= yield(:back) %>
      <%= link_to "Back Home", root_url, :class => 'menu' %>
    <% end %>
	</body>
</html>