<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title><%= h(yield(:title)) %><%= APP_CONFIG['title'] %> mobile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'mobile' %>
  </head>
  <body>
    <%= image_tag '_/alb.png', :class => 'logo' %>
    <% if @home %>
    <%= link_to "Get the Reader!", reader_url, :class => 'menu' %>
    <%= link_to "About", subjects_url, :class => 'menu' %>
    <% else %>
      <%= link_to "Back Home", home_url, :class => 'menu' %>
    <% end %>
    <% form_tag '/search', :method => 'get' do %>
      <div class="menu" style="margin: 5px;">
        <%= text_field_tag :query %>
      </div>
      <div class="menu">
        <%= submit_tag 'find books or authors' %>
      </div>
    <% end %>
    <div class="main">
      <%= yield %>
    </div>
    <% unless @home %>
      <h1>Going back</h1>
      <%= yield(:back) %>
      <%= link_to "Back Home", home_url, :class => 'menu' %>
    <% end %>
	</body>
</html>