<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title><%= h(yield(:title)) %><%= APP_CONFIG['title'] %> mobile</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'mobile' %>
  </head>
	<body>
    <% form_tag 'search_path', :method => 'get' do %>
      <%= text_field_tag :search_text %>
      <%= submit_tag "find", :alt => 'Submit search' %>
    <% end %>
    <p>
      <span class="menu">
        <%= link_to "Home",home_url, :class => 'menu' %> |
        <%= link_to "Books", books_url, :class => 'menu' %> |
        <%= link_to "Authors", authors_url, :class => 'menu' %> |
        <%= link_to "Get the Reader!", reader_url, :class => 'menu' %>
      </span>
    </p>
    <%= yield %>
    <hr>
    <p>
      <span class="menu">
        <%= link_to "about this site", about_url, :class => :menu_down %>
        <%= link_to "report copyright infringement", copyright_url, :class => :menu_down %>
        <%= link_to "contacts", contacts_url, :class => :menu_down %>
      </span>
    </p>
	</body>
</html>